.App {
  text-align: center;
}

.cardSelection {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  align-items: start;
  justify-content: center;
  justify-items: center;
  grid-column-gap: 30px;
}

.rickAndMortyCard,
superHeroCard {
  grid-column: 1 / 1;
  margin-bottom: 10%;
}

.selectedCard {
  border: 2px solid rgba(0, 70, 255, 0.6);
}

.screenLoader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgba(0, 70, 255, 0.6);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 2%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
